# =========================================================
# Reglas de Enrutamiento y Reescritura MVC - INFONATEC
# =========================================================

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si la petición apunta a un archivo, directorio o enlace simbólico real, servirlo directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir el resto hacia el Front Controller index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

# Prevenir el listado de directorios
Options -Indexes

# Codificación predeterminada
AddDefaultCharset UTF-8
